<div class="container">
   <div class="top-poke-container">
      <div class="sound-container">

      </div>
      <div class="screen-container">


      </div>
   </div>
   <div class="middle-poke">
      <div class="hinge">

      </div>
      <div class="middle-square"></div>
      <div class="hinge">

      </div>
   </div>
   <div class="botton-base">
      <div class="butons-container">

      </div>
      <div class="screen-container">


      </div>
      <div class="right-container">

      </div>
   </div>
</div>