<div class="container">
   <div class="top-poke-container">
      <div class="sound-container">
         <div class="cicle-container">
            <div class="top-button">
               <div class="sound"></div>
            </div>
            <div class="middle-buttons">
               <div class="sound"></div>

               <div class="sound"></div>

            </div>
            <div class="bottom-button">
               <div class="sound"></div>
            </div>
         </div>
      </div>
      <div class="screen-container">

         <div class="screen-background">

         </div>


      </div>
   </div>
   <div class="middle-poke">
      <div class="hinge">

      </div>
      <div class="middle-square"></div>
      <div class="hinge">

      </div>
   </div>
   <div class="botton-base">
      <div class="butons-container">
         <app-action-component></app-action-component>
      </div>
      <div class="screen-container"></div>
   </div>
</div>