.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  .top-poke-container {
    display: flex;
    flex-direction: row;
    .screen-container {
      width: 500px;
      height: 250px;
      background-color: red;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

    }
    .sound-container {
      width: 100px;
      height: 150px;
      border-top-left-radius: 300%;
      border-bottom-left-radius: 250%;
      background-color: red;
      align-self: center;

    }
  }
  .middle-poke {
    display: flex;
    justify-content: space-between;
    width: 414px;
    height: 50px;
    background-color: red;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
    margin-left: 106px;
    box-shadow: 10px 5px 5px black;

    .hinge {
      width: 30px;
      border-left: 3px solid black;
      border-radius: 50px;
    }
    .middle-square{
        width: 10px;
        height: 15px;
        background-color: black;
        align-self: center;
    }
  }
  .botton-base {
    display: flex;
    flex-direction: row;
    .butons-container {
        width: 200px;
        height: 250px;
        background-color: red;
        border-top-left-radius: 150%;
        border-bottom-left-radius: 150%;
        box-shadow: 10px 5px 5px black;
    }

    .screen-container {
        width: 500px;
        height: 250px;
        background-color: red;
        border-bottom-right-radius: 20px;
        box-shadow: 10px 5px 5px black;
    }

    .right-container {
        width: 100px;
        height: 150px;
        border-top-right-radius: 300%;
        border-bottom-right-radius: 250%;
        background-color: red;
        align-self: center;
        box-shadow: 10px 5px 5px black;
    }
  }
}
