<div class="container">
    <div class="left-container">
        <div class="square">

        </div>
        <div class="buttons-container">
            <div class="top-button">
                <button></button>
            </div>
            <div class="middle-buttons">
                <button></button>
                <div class="middle"></div>

                <button></button>

            </div>
            <div class="bottom-button">
                <button></button>
            </div>

        </div>
    </div>
    <div class="right-container">

        <div class="buttons-container">
            <div class="button-yes">
                Yes
            </div>
            <div class="button-no">
                No
            </div>

        </div>

    </div>
</div>